ClientApplication/Connected Services/RoomAvailbilityServiceReference/RoomAvailability.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FindRoomRoomCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRoomRoomCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindRoomRoomCountryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRoomRoomId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoomId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRoomRoomIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindRoomRoomIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindRoomRoomCountrySoapIn">
    <wsdl:part name="parameters" element="tns:FindRoomRoomCountry" />
  </wsdl:message>
  <wsdl:message name="FindRoomRoomCountrySoapOut">
    <wsdl:part name="parameters" element="tns:FindRoomRoomCountryResponse" />
  </wsdl:message>
  <wsdl:message name="FindRoomRoomIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindRoomRoomId" />
  </wsdl:message>
  <wsdl:message name="FindRoomRoomIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindRoomRoomIdResponse" />
  </wsdl:message>
  <wsdl:portType name="RoomAvailabilitySoap">
    <wsdl:operation name="FindRoomRoomCountry">
      <wsdl:input message="tns:FindRoomRoomCountrySoapIn" />
      <wsdl:output message="tns:FindRoomRoomCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindRoomRoomId">
      <wsdl:input message="tns:FindRoomRoomIdSoapIn" />
      <wsdl:output message="tns:FindRoomRoomIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoomAvailabilitySoap" type="tns:RoomAvailabilitySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindRoomRoomCountry">
      <soap:operation soapAction="http://tempuri.org/FindRoomRoomCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRoomRoomId">
      <soap:operation soapAction="http://tempuri.org/FindRoomRoomId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RoomAvailabilitySoap12" type="tns:RoomAvailabilitySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindRoomRoomCountry">
      <soap12:operation soapAction="http://tempuri.org/FindRoomRoomCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRoomRoomId">
      <soap12:operation soapAction="http://tempuri.org/FindRoomRoomId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomAvailability">
    <wsdl:port name="RoomAvailabilitySoap" binding="tns:RoomAvailabilitySoap">
      <soap:address location="https://localhost:44322/RoomAvailability.asmx" />
    </wsdl:port>
    <wsdl:port name="RoomAvailabilitySoap12" binding="tns:RoomAvailabilitySoap12">
      <soap12:address location="https://localhost:44322/RoomAvailability.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>