ClientApplication/Connected Services/RegistrationServiceReference/RegistrationWebServiceasmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AutoHotelId">
        <s:complexType />
      </s:element>
      <s:element name="AutoHotelIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoHotelIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertHotel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HotelId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HotelName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phonenumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertHotelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertHotelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutoHotelIdSoapIn">
    <wsdl:part name="parameters" element="tns:AutoHotelId" />
  </wsdl:message>
  <wsdl:message name="AutoHotelIdSoapOut">
    <wsdl:part name="parameters" element="tns:AutoHotelIdResponse" />
  </wsdl:message>
  <wsdl:message name="insertHotelSoapIn">
    <wsdl:part name="parameters" element="tns:insertHotel" />
  </wsdl:message>
  <wsdl:message name="insertHotelSoapOut">
    <wsdl:part name="parameters" element="tns:insertHotelResponse" />
  </wsdl:message>
  <wsdl:portType name="RegistrationWebServiceasmxSoap">
    <wsdl:operation name="AutoHotelId">
      <wsdl:input message="tns:AutoHotelIdSoapIn" />
      <wsdl:output message="tns:AutoHotelIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertHotel">
      <wsdl:input message="tns:insertHotelSoapIn" />
      <wsdl:output message="tns:insertHotelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationWebServiceasmxSoap" type="tns:RegistrationWebServiceasmxSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoHotelId">
      <soap:operation soapAction="http://tempuri.org/AutoHotelId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHotel">
      <soap:operation soapAction="http://tempuri.org/insertHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistrationWebServiceasmxSoap12" type="tns:RegistrationWebServiceasmxSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoHotelId">
      <soap12:operation soapAction="http://tempuri.org/AutoHotelId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHotel">
      <soap12:operation soapAction="http://tempuri.org/insertHotel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationWebServiceasmx">
    <wsdl:port name="RegistrationWebServiceasmxSoap" binding="tns:RegistrationWebServiceasmxSoap">
      <soap:address location="https://localhost:44322/RegistrationWebServiceasmx.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistrationWebServiceasmxSoap12" binding="tns:RegistrationWebServiceasmxSoap12">
      <soap12:address location="https://localhost:44322/RegistrationWebServiceasmx.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>