ClientApplication/Connected Services/ManageServiceReference/ManageWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoomId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RoomType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Price" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRoomResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddRoomSoapIn">
    <wsdl:part name="parameters" element="tns:AddRoom" />
  </wsdl:message>
  <wsdl:message name="AddRoomSoapOut">
    <wsdl:part name="parameters" element="tns:AddRoomResponse" />
  </wsdl:message>
  <wsdl:portType name="ManageWebServiceSoap">
    <wsdl:operation name="AddRoom">
      <wsdl:input message="tns:AddRoomSoapIn" />
      <wsdl:output message="tns:AddRoomSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManageWebServiceSoap" type="tns:ManageWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRoom">
      <soap:operation soapAction="http://tempuri.org/AddRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManageWebServiceSoap12" type="tns:ManageWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRoom">
      <soap12:operation soapAction="http://tempuri.org/AddRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManageWebService">
    <wsdl:port name="ManageWebServiceSoap" binding="tns:ManageWebServiceSoap">
      <soap:address location="https://localhost:44322/ManageWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ManageWebServiceSoap12" binding="tns:ManageWebServiceSoap12">
      <soap12:address location="https://localhost:44322/ManageWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>